*{
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.s1{
	width: 100%;
	display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
}

.s1_container{
	width: 1017px;
    max-width: 100%;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.line{
    height: 5px;
    width: 100%;
    background-color: #83699e;
}

.logo img{
    position: relative;
    left: -15px;
}

.menu{
	display: flex;
    width: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu_item{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.menu_item p{
	margin-left: 10px;
    font-size: 1.1em;
    color:  #83699e;
}

.s2{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.s2_wrapper{
	max-width: 1017px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    overflow: hidden;
}

.s2_text{
    text-align: center;
/*    padding: 0 50px;*/
    width: 85%;
    margin: 20px 0;
    font-size: 1.5em;
    font-style: italic;
}


.horizon{
    width: 990px;
    height: 1px solid #83699e;
}

.boll{
    color:  #83699e;
}

.picture{
    max-width:1017px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_text{
    position: absolute;
    color: #fff;
    text-align: center;
    
}

.picture_text h3{
  font-size: 6.0em;
    text-shadow: -5px 5px 2px #3C3535; 
   
}

.picture_text p{
   font-size: 2.0em;  
}

.s3{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.s3_wrapper{
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.s3_logo{
    width: 30%;
}

.s3_logo img{
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 100%;
}

.s3_text{
    width: 65%;
}
 
.s3_text h3{
    margin-bottom: 20px;
    font-size: 2.0em;
    color: #5e5e5f;
}

.s3_text p{
    font-size: 0.9em;
    color: #b1b1b1;
    line-height: 30px;
    margin-bottom: 10px;
}

.more{
    position: relative;
    right: 0;
}

.more a{
    position: absolute;
    right: 0;
    color: #b1b1b1;
}

.more a:hover{
    cursor: pointer;
}

.s4{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.s4_wrapper{
	width: 1000px;
	display: flex;
	flex-direction: column;	
    margin-top: 20px;
}

.clever_text{
    font-size: 1.4em;
    margin-bottom: 30px; 
}

.logo_company{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.logo_item{
	width: 25%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7;
}
.logo_item img{
	max-width: 75%;
}

footer{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: center;
    background-color: #e7e7e7; 
}

.down{
	width: 1000px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    color: #b1b1b1;
}

.icons img{
    margin-left: 20px;
}





@media all and (max-width: 800px) {

.menu_item{
    width: 50%;
}
    
.s3_wrapper{
	flex-direction: column;
}
    
.s3_logo{
    width: 40%;
    margin-bottom: 20px;
}
    
.s3_text{
    width: 85%;
    text-align: center;
}  
 
.clever_text{
    text-align: center;
}   
    
.logo_company{
    flex-direction: column;
    align-items: center;
}
    
.logo_item{
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 15px;
}    
    
.down{
    width: 80%;
} 
    
    

}

@media all and (max-width: 400px) {

.down{
    flex-direction: column;
} 
    
.down p{
    flex-direction: column;
    margin-top: 10px;
}
    
footer{
    height: 80px;
    justify-content: center;
    align-items: center; 
} 

.icons{
    margin: 10px 0;    
} 
    
.icons img{
    margin-left: 0;
    margin: 0 10px;
    
} 
    
    

}
