*{
	margin: 0;
	padding: 0;
}

.s1{
	width: 100%;
	display: flex;
	justify-content: center;
}

.s1_container{
	width: 1017px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.logo img{
    position: relative;
    left: -15px;
}

.menu{
	display: flex;
    width: 60%;
    justify-content: space-between;
}

.menu_item{
	display: flex;
    justify-content: center;
    align-items: center;
	margin-left: 20px;
}

.menu_item p{
	margin-left: 10px;
    font-size: 1.1em;
    color:  #83699e;
}

.s2{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.s2_wrapper{
	max-width: 1017px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    overflow: hidden;
}

.s2_text{
    text-align: center;
    padding: 0 50px;
    margin: 20px 0;
    font-size: 1.5em;
}


.horizon{
    width: 990px;
    height: 1px solid #83699e;
}

.boll{
    color:  #83699e;
}

.picture{
    max-width:1017px;
    margin-bottom: 40px;
}

.s3{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.s3_wrapper{
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.s3_logo{
    width: 30%;
}

.s3_logo img{
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 100%;
}

.s3_text{
    width: 65%;
}
 
.s3_text h3{
    margin-bottom: 20px;
    font-size: 2.0em;
    color: #5e5e5f;
}

.s3_text p{
    font-size: 1.1em;
    color: #b1b1b1;
    line-height: 30px;
    margin-bottom: 10px;
}

.more{
    position: relative;
    right: 0;
}

.more a{
    position: absolute;
    right: 0;
    color: #b1b1b1;
}

.more a:hover{
    cursor: pointer;
}

.s4{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.s4_wrapper{
	width: 1000px;
	display: flex;
	flex-direction: column;	
    margin-top: 20px;
}

.clever_text{
    font-size: 1.4em;
    margin-bottom: 30px; 
}

.logo_company{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.logo_item{
	width: 25%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7;
}
.logo_item img{
	max-width: 75%;
}

footer{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: center;
    background-color: #e7e7e7;
}

.down{
	width: 1000px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    color: #b1b1b1;
}

.icons img{
    margin-left: 20px;
}


